<div class="container top-margin">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="fa fa-link"></span> Created Short URL</div>
          <div class="panel-body">
            <p class="text-warning">No Url found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>